<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/setting.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/edit_admin.css">
    <link rel="stylesheet" href="/css/dashbord.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Prompt">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- <script src="./main.js"></script> -->

    <title>Dashboard</title>
</head>

<body>
    <div class="container-fluid">

        <div class="row" id="content">

            <div class="col-2 px-0" id="box-left">
                <ul>
                    <li class="CarWash"><a href="/index">CarWash</a></li>
                    <li> <img id="imgAdmin" src="https://cdn-icons-png.flaticon.com/512/456/456283.png" alt=""> <span
                            id="superadmin">
                            <%= admin_name %>
                        </span></li>
                    <hr class="hr1">
                    <li><a href="/index">ภาพรวมระบบ</a></li>
                    <li><a href="/washcarinsystem">ตู้ในระบบ</a></li>
               
                    <% if ( branch==0) { %>
                        <li class="active"><a href="/show_admin">แสดงบัญชีผู้ประกอบการ</a></li>
                        <% } %>
                            <li><a href="/show_cus">แสดงบัญชีลูกค้า</a></li>
                            <% if ( branch==0) { %>
                                <li><a href="/show_branch">จัดการข้อมูลสาขา</a></li>
                                <% } %>
                                    <li><a href="/managepromotion">จัดการโปรโมชัน</a></li>
                                    <li><a href="/logout">ออกจากระบบ</a></li>
                </ul>
            </div>


            <div class="col-10 ">
                <div class="row">
                    <div class="col">
                        <div class="card" style="width: 100%;">
                            <div class="card-body">
                                <h5 class="card-title">ยอดเงินทั้งหมด</h5>
                                <div class="card-text cardtxt">
                                    <%= result_price[0].total_price %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 100%;">
                            <div class="card-body">
                                <h5 class="card-title">ยอดเงินคงเหลือในระบบ</h5>
                                <div class="card-text cardtxt">
                                    <%= result_price[0].total_price -  (result_sum_withdraw[0].sum_withdraw == null ? 0: result_sum_withdraw[0].sum_withdraw )%>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 100%;">
                            <div class="card-body">
                                <h5 class="card-title">จำนวนผู้ประกอบการ</h5>
                                <div class="card-text cardtxt">
                                    <%= count_admin[0].count_total %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 ml-5">
                    <div class="col">
                        <div class="card" style="width: 100%;">
                            <div class="card-body">
                                <!-- <div class="card-title">
                  <h2>โปรโมชัน</h2>
                </div> -->
                                <table class="table table-striped">
                                    <thead>
                                      <tr>
                                            <th scope="col">E-mail</th>
                                            <th scope="col">ชื่อ</th>
                                            <th scope="col">สาขา</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col">
                                                <div class="d-flex flex-row-reverse">
                                                    <button class="btn btn-success " name="add"
                                                        id="add_admin">เพิ่มข้อมูล</button>
                                                </div>
                                            </th>
                                            
                                            </tr>
                                        </thead>
                                    <tbody>
                                        <% if ( data_admin.length> 0 ) { %>
                                            <% data_admin.forEach ( function ( recordPerson, index ) { %>
                                                <tr>
                                                    <td>
                                                        <%= recordPerson.username; %>
                                                    </td>
                                                    <td>
                                                        <%= recordPerson.admin_name; %>
                                                    </td>

                                                    <td>
                                                        <%= recordPerson.name_branch; %>
                                                    </td>

                                                    <td>
                                                        <button type="button" class="btn btn-primary modal_data_admin"
                                                            id="<%= recordPerson.idadmin; %>">
                                                            ดูข้อมูล
                                                        </button>
                                                    </td>
                                                    <td>

                                                        <button type="button" class="btn btn-warning modal_editdata"
                                                            id="<%= recordPerson.idadmin; %>">
                                                            แก้ไข
                                                        </button>
                                                    </td>


                                                    <td>
                                                        <button type="button" class="btn btn-danger modal_delete"
                                                            id="<%= recordPerson.idadmin; %>">
                                                            ลบ
                                                        </button>
                                                    </td>
                                                </tr>
                                                <% } ); %>
                                                    <% } else { %>
                                                        <tr>
                                                            <td colspan="100%">- ไม่มีข้อมูล -</td>
                                                        </tr>
                                                        <% } %>
                                    </tbody>
                                </table>
                                <div style="float: right;">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- คั่น -->
                <div class="row mt-5">
                    <div class="col">
                        <div class="card" style="width: 100%;">
                            <div class="card-body">
                                <h5 class="card-title">จำนวนครั้งการถอน</h5>
                                <div class="card-text cardtxt">
                                    <%= result_count_withdraw[0].count_withdraw %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 100%;">
                            <div class="card-body">
                                <h5 class="card-title">ยอดถอนเงินทั้งหมด</h5>
                                <div class="card-text cardtxt">
                                    <%= result_sum_withdraw[0].sum_withdraw == null ? 0: result_sum_withdraw[0].sum_withdraw  %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 100%;">
                            <div class="card-body">
                                <h5 class="card-title">เฉลี่ยการถอนต่อเดือน</h5>
                                <div class="card-text cardtxt">
                                    <%= result_avg_withdraw[0].avg_withdraw == null ? 0: parseFloat(result_avg_withdraw[0].avg_withdraw).toFixed(2)  %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 ml-5">
                    <div class="col">
                        <div class="card" style="width: 100%;">
                            <div class="card-body">
                                <!-- <div class="card-title">
                  <h2>โปรโมชัน</h2>
                </div> -->
                                <table class="table table-striped">
                                    <thead>
                                        <thead>
                                            <th scope="col">E-mail</th>
                                            <th scope="col">ชื่อ</th>
                                            <th scope="col">สาขา</th>
                                            <th scope="col">ยอดถอนเงิน</th>
                                            <th scope="col">วันแจ้งถอน</th>
                                            <th scope="col">สถานะ</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </thead>
                                    <tbody>
                                        <% if ( result_withdraw.length> 0 ) { %>
                                            <% result_withdraw.forEach ( function ( recordPerson, index ) { %>
                                                <tr>
                                                    <td>
                                                        <%= recordPerson.username; %>
                                                    </td>
                                                    <td>
                                                        <%= recordPerson.admin_name; %>
                                                    </td>

                                                    <td>
                                                        <%= recordPerson.name_branch; %>
                                                    </td>
                                                    <td>
                                                        <%= recordPerson.total; %>
                                                    </td>
                                                    <td>
                                                        <%= recordPerson.create_time.toLocaleDateString("th-TH", { year: 'numeric', month: 'short', day: 'numeric' }); %>
                                                    </td>
                                                    <td>
                                                        <% x = ""
                                                        if(recordPerson.status == 0){
                                                            x = "รอดำเนินการ"
                                                        }else if(recordPerson.status == 1){
                                                            x = "ถอนสำเร็จ"
                                                        }else{
                                                            x = "เกิดข้อผิดพลาด"
                                                        }%>
                                                        <%= x %>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary modal_data_admin"
                                                            id="<%= recordPerson.id; %>">
                                                            ดูข้อมูล
                                                        </button>
                                                    </td>
                                                    <td>

                                                        <button type="button" class="btn btn-warning modal_editdata_withdraw"
                                                            id="<%= recordPerson.id; %>">
                                                            แก้ไข
                                                        </button>
                                                    </td>


                                                    <td>
                                                        <button type="button" class="btn btn-danger modal_delete_withdraw"
                                                            id="<%= recordPerson.id; %>">
                                                            ลบ
                                                        </button>
                                                    </td>
                                                </tr>
                                                <% } ); %>
                                                    <% } else { %>
                                                        <tr>
                                                            <td colspan="100%">- ไม่มีข้อมูล -</td>
                                                        </tr>
                                                        <% } %>
                                    </tbody>
                                </table>
                                <div style="float: right;">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <%- include ('add_data/insert_modal'); -%>
                    <%- include ('view_modal/view_admin'); -%>
                            <%- include ('edit_data/editAdmin'); -%>
                            <%- include ('edit_data/edit_admin_money'); -%>
                            <%- include ('js/admin'); -%>

        </div>
    </div>


    <!-- โชว์ข้อมูลผู้ใช้ -->
   
</body>

</html>